.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin: 0 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 1rem;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-family: Arial;
    font-size: 16px;

}

.search-button {
    height: 40px;
    width: 66px;
    border: none;
    border: 1px solid rgb(192, 192, 192);
    margin-right: 10px;
    margin-left: -1px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
    background-color: rgb(240, 240, 240);
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(240, 240, 240);

}

.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.current-picture {
    height: 24px;
    border-radius: 50%;
}