body {
  min-width: 319.9988px;
  max-width: 750px;
  margin: 0 auto;
  height: 1200px;
}
a {
  text-decoration: none;
  color: #707070;
}
.header {
  height: 2.1333rem;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  line-height: 2.1333rem;
  font-size: 0.933333rem;
  color: #1c1c1c;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem 0 1.6rem 0;
}
.nav .item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav .item img {
  width: 3.7067rem;
  height: 3.7067rem;
}
.nav .item span {
  font-size: 0.666667rem;
}
.nav .item:nth-child(-n+3) {
  margin-bottom: 1.6533rem;
}
